<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Autor</div>
    <div class="panel-body">
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo Autor</button>
        </div>
        <table class="resultados table table-striped">
            <tr>
                <th>nombre</th>
                <th>nacionalidad</th>
                <th>
                    <input class="form-control" ng-model="busquedaAutor"  placeholder="Buscar"/>
                </th>
            </tr>
            <tbody>
            <tr ng-repeat="autor in listaAutor">
                <th scope="row">{{$index}}</th>
                <td>{{autor.name}}</td>
                <td>{{autor.nationality}}</td>
            </tr>
            </tbody>
            <tr dir-paginate="row in listaAutores|filter: q|itemsPerPage:10">
                <td>{{row.name}}</td>
                <td>{{row.name}}</td>

                <td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
                    <button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
        <div dir-pagination-controls></div>
        <br/>
    </div>
</div>
